<!-- ---
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    title: "Agendas",
    label: "angendas",
    url: "/#agendas",
  },
  {
    title: "Taps",
    label: "taps",
    url: "/#taps",
  },
  // {
  //   title: "Sobre mí",
  //   label: "sobre-mi",
  //   url: "/#sobre-mi",
  // },
  // {
  //   title: "Habilidades",
  //   label: "habilidades",
  //   url: "/#habilidades",
  // },
  // {
  //   title: "Contacto",
  //   label: "contacto",
  //   url: "mailto:brandon062900@gmail.com",
  // }
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm md:text-base font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-blue-500");
            } else {
              item.classList.remove("text-blue-500");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  nav {
    @apply dark:bg-gray-800/90 bg-white/50;
  }

  @keyframes nav-shadown {
    0% {
      @apply dark:bg-gray-800/0 bg-white/0;
    }
    to {
      @apply shadow-lg ring-1 backdrop-blur ring-white/10;
    }
  }
</style> 



 -->




---
import ThemeToggle from "./ThemeToggle.astro"
const navItems = [
  {
    title: "Agendas",
    label: "agendas",
    url: "/#agendas",
  },
  {
    title: "Taps",
    label: "taps",
    url: "/#taps",
  },
];
---

<header class="fixed top-0 left-0 w-full flex justify-center mt-2 z-[9999]">


<nav
  class="flex px-3 text-sm md:text-base font-medium rounded-full justify-center items-center 
  bg-white/80 backdrop-blur-md shadow-sm ring-1 ring-gray-300 text-black z-50"
>

    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-withe-600"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-blue-500");
            } else {
              item.classList.remove("text-blue-500");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => observer.observe(section));

    // Limpieza al cambiar de pestaña
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") observer.disconnect();
      else sections.forEach((section) => observer.observe(section));
    };
  });
</script>

<style>
  nav {
    animation: nav-shadow 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadow {
    0% {
      background-color: rgba(255, 255, 255, 0);
    }
    to {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(12px);
      border-radius: 9999px;
    }
  }
</style>
