---
import cutlery from "./icons/cutlery.astro";
import LinkButton from "./LinkButton.astro";
import BEBIDAS from "./icons/SportsBar.astro";
import Maps from "./icons/Maps.astro";

const TAGS = {
  COMIDA: { name: "COMIDA", class: "bg-[#014200] text-white", icon: cutlery },
  BEBIDAS: { name: "BEBIDAS", class: "bg-[#420C00] text-white", icon: BEBIDAS },
};

const PROJECTS = [
  {
    title: "Toro Steakhouse",
    description:
      "Restaurante tipo steakhouse dentro del resort, donde se ofrecen cortes premium y ambiente sofisticado.",
    maps: "https://maps.app.goo.gl/cH9xkjndNhADJq5Y8",
    link: "https://github.com/Brandon-DC-dev/biblioteca-virtua",
    image: "/projects/toro.png",
    tags: [TAGS.COMIDA],
  },
  {
    title: "Jigger + Shaker (Bebidas dentro del resort)",
    description:
      "Bar de cócteles premium en el resort, con mezclas de especias locales, buenos tragos y ambiente animado.",
    maps: "https://hotel.hardrock.com/riviera-maya/es/files/6192/Mapa-Resort-Hard-Rock-Hotel-Riviera-Maya.pdf",
    image: "/projects/Jigger_Shaker.png",
    tags: [TAGS.BEBIDAS],
  },
  {
    title: "The Market",
    description:
      "Disfruta ingredientes frescos y exóticos de todo el mundo en un buffet de desayuno y una cena temática por la noche.",
    maps: "https://hotel.hardrock.com/riviera-maya/es/files/6192/Mapa-Resort-Hard-Rock-Hotel-Riviera-Maya.pdf",
    image: "/projects/themarket.png",
    tags: [TAGS.COMIDA],
  },
  {
    title: "Faro Mercado Gastronómico",
    description:
      "Faro es un mercado gastronómico, un paraíso culinario que ofrece una variedad de deliciosas opciones para el desayuno y la comida.",
    maps: "https://hotel.hardrock.com/riviera-maya/es/files/6192/Mapa-Resort-Hard-Rock-Hotel-Riviera-Maya.pdf",
    image: "/projects/restaurante2.png",
    tags: [TAGS.COMIDA],
  },
  {
    title: "Los Gallos",
    description:
      "Los Gallos ofrece el delicioso sabor de la taquería mexicana en un ambiente casual. Nuestro menú es elaborado con ingredientes frescos y de alta calidad para todos los paladares. ",
    maps: "https://hotel.hardrock.com/riviera-maya/es/files/6192/Mapa-Resort-Hard-Rock-Hotel-Riviera-Maya.pdf",
    image: "/projects/losgallos.png",
    tags: [TAGS.COMIDA],
  },
  {
    title: "Pizzeto",
    description:
      "Descubre una explosión de sabor con pizzas al horno, ensaladas, sopas y pastas a la carta.",
    maps: "https://hotel.hardrock.com/riviera-maya/es/files/6192/Mapa-Resort-Hard-Rock-Hotel-Riviera-Maya.pdf",
    image: "/projects/pizzeto.png",
    tags: [TAGS.COMIDA],
  },
  {
    title: "Frida",
    description:
      "Saborea la atmósfera festiva de México y sus platillos típicos. Cena cocina mexicana y especialidades regionales a la carta.",
    maps: "https://hotel.hardrock.com/riviera-maya/es/files/6192/Mapa-Resort-Hard-Rock-Hotel-Riviera-Maya.pdf",
    image: "/projects/frida.png",
    tags: [TAGS.COMIDA],
  },
  {
    title: "Zen",
    description:
      "Desde sushi hasta tepanyakis, Zen ofrece lo mejor en cocina asiática con platillos a la carta. ",
    maps: "https://hotel.hardrock.com/riviera-maya/es/files/6192/Mapa-Resort-Hard-Rock-Hotel-Riviera-Maya.pdf",
    image: "/projects/zen.png",
    tags: [TAGS.COMIDA],
  },
];
---

<div
  class="sticky top-20 z-40 bg-white/80 backdrop-blur-md border-b border-gray-200 dark:border-gray-700 py-3"
>
  <ul
    id="tabs"
    class="flex flex-wrap text-sm font-medium text-center justify-center gap-x-4"
  >
    <li>
      <button
        data-tab="all"
        class="p-3 border-b-2 border-transparent hover:border-gray-300 active-tab"
      >
        TODOS
      </button>
    </li>
    <li>
      <button
        data-tab="COMIDA,BEBIDAS"
        class="p-3 border-b-2 border-transparent hover:border-gray-300"
        >RESTAURANTE Y BAR</button>
    </li>
    <li>
      <button
        data-tab="cutlery,Bar"
        class="p-3 border-b-2 border-transparent hover:border-gray-300"
        >FARMACIAS</button>
    </li>
    <li>
      <button
        data-tab="HTML"
        class="p-3 border-b-2 border-transparent hover:border-gray-300"
        >SUPER MERCADOS</button>
    </li>
    <li>
      <button
        data-tab="Tree.js"
        class="p-3 border-b-2 border-transparent hover:border-gray-300"
        >PLAZAS COMERCIALES</button>
    </li>
    <li>
      <button
        data-tab="MySQL"
        class="p-3 border-b-2 border-transparent hover:border-gray-300"
        >TOURS</button>
    </li>
  </ul>
</div>


<div
  id="projects-container"
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
>
  {
    PROJECTS.map(({ image, title, description, tags, link, maps }) => (
      <article
        class="project-card flex flex-col bg-gray-50 dark:bg-gray-800 rounded-xl shadow-md overflow-hidden border border-gray-200 dark:border-gray-700 transition-all duration-300 hover:-translate-y-1 hover:shadow-lg"
        data-tags={tags.map((t) => t.name).join(",")}
      >
        <img
          src={image}
          alt={title}
          class="object-cover w-full h-48"
          loading="lazy"
        />

        <div class="flex flex-col flex-grow p-4">
          <h3 class="text-lg font-bold text-gray-800 dark:text-gray-100 mb-2">
            {title}
          </h3>

          <ul class="flex flex-wrap mb-3 gap-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                >
                  <tag.icon class="size-4" /> {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <p class="text-gray-700 dark:text-gray-400 flex-grow">
            {description}
          </p>

          <footer class="flex items-center justify-start mt-4 gap-x-4">
            {maps && (
              <LinkButton href={maps}>
                <Maps class="size-5" /> Mapa
              </LinkButton>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const tabs = document.querySelectorAll<HTMLButtonElement>("#tabs button");
    const projects = document.querySelectorAll<HTMLDivElement>(".project-card");

    tabs.forEach((tab) => {
      tab.addEventListener("click", () => {
        tabs.forEach((t) =>
          t.classList.remove("active-tab", "border-blue-500", "text-blue-600")
        );
        tab.classList.add("active-tab", "border-blue-500", "text-blue-600");

        const selected = tab.dataset.tab!.split(",");

        projects.forEach((project) => {
          const tags = project.dataset.tags!.split(",");

          if (selected.includes("all")) {
            project.style.display = "flex";
            return;
          }

          const matches = selected.some((s) => tags.includes(s));
          project.style.display = matches ? "flex" : "none";
        });
      });
    });
  });
</script>



<style>
  .active-tab {
    border-color: rgb(59 130 246);
    color: rgb(37 99 235);
  }
</style>
